<div class="ADMdtp-calendar-container" ng-class="{square: monthPickerStat||timePickerStat}">
    <div class="monthPickerContainer" ng-class="{active: monthPickerStat}">
        <i class="calendarIcon" ng-class="{show: monthPickerStat}" ng-click="monthPickerStat = false">
            <svg viewBox="0 0 1664 1664">
                <use xlink:href="#dtpCalendar"/>
            </svg>
        </i>
        <div class="content">
            <div class="monthContainer" ng-class="{onYear: yearSelectStat, rtl: (calType==\'jalali\')}">
                <div class="yearContainer">
<span ng-if="yearSelectStat" class="dtpIcon arrow left" ng-click="previousYear()">
</span>
                    <p ng-click="selectYearInit()">{{current.year | digitType:calType}}</p>
                    <span ng-if="yearSelectStat" class="dtpIcon arrow right" ng-click="nextYear()"></span>
                </div>
                <span ng-repeat="yearName in generatedYears" ng-if="yearSelectStat">
<span ng-class="{selected: yearName==current.year}" ng-click="selectYear(yearName)">{{yearName | digitType:calType}}
</span>
</span>
                <span ng-repeat="monthName in monthNames" ng-if="!yearSelectStat">
<span ng-class="{selected: monthName==current.monthDscr}" ng-click="selectMonth($index)">{{monthName}}</span>
</span>
            </div>
        </div>
    </div>
    <div class="timePickerContainer" ng-class="{active: timePickerStat}">
        <i class="calendarIcon" ng-class="{show: timePickerStat}" ng-click="timePickerStat = false">
            <svg viewBox="0 0 1664 1664">
                <use xlink:href="#dtpCalendar"/>
            </svg>
        </i>
        <div class="content">
            <div class="timePicker">
                <span class="dtpIcon null up" ng-click="changeTimeValue('hour', 1)">
                    <svg viewBox="0 0 1792 1792">
                        <use xlink:href="#dtpDown"/>
                    </svg>
                </span><!---->
                <span>
                </span><!---->
                <span class="dtpIcon null up" ng-click="changeTimeValue('minute', 1)">
                    <svg viewBox="0 0 1792 1792">
                        <use xlink:href="#dtpDown"/>
                    </svg>
                </span><!---->
                <span>{{time.hour}}</span><!---->
                <span class="period">:</span><!---->
                <span>{{time.minute}}</span><!---->
                <span class="dtpIcon null down" ng-click="changeTimeValue('hour', -1)">
                    <svg viewBox="0 0 1792 1792">
                        <use xlink:href="#dtpUp"/>
                    </svg>
                </span><!---->
                <span></span><!---->
                <span class="dtpIcon null down" ng-click="changeTimeValue('minute', -1)">
                    <svg viewBox="0 0 1792 1792">
                        <use xlink:href="#dtpUp"/>
                    </svg>
                </span>
            </div>
        </div>
    </div>
    <header>
        <span class="dtpIcon arrow left" ng-click="previousMonth()"></span>
        <span class="yearMonth" ng-click="selectMonthInit()">{{current.monthDscr}} {{current.year | digitType:calType}}</span>
        <span class="dtpIcon arrow right" ng-click="nextMonth()"></span>
    </header>
    <div class="daysNames">
        <span ng-repeat="dayName in daysNames">{{dayName}}</span>
    </div>
    <hr>
    <div class="days" ng-class="{loading:loadingDays}">
        <span ng-repeat="day in current.days" ng-click="selectThisDay(day)">
            <span ng-class="[{disable: day.disable||!day.valid, today: day.today, selected: day.selected, valid:(day.valid==2)}, (day.isMin)?((calType=='jalali')?'max':'min'):'', (day.isMax)?((calType=='jalali')?'min':'max'):'']">{{day.day | digitType:calType}}
            </span>
        </span>
    </div>
    <hr>
    <footer>
        <div class="calTypeContainer" ng-class="$parent.calType" ng-click="calTypeChanged()" ng-if="option.multiple">
            <p class="gregorian">
                Gregorian
            </p>
            <p class="jalali">جلالی</p>
        </div>
        <button class="today" ng-click="today()">{{(calType=="jalali")?"امروز":"Today"}}</button>
        <svg class="timeSelectIcon" viewBox="0 0 1492 1592" ng-click="timePickerStat = !timePickerStat">
            <use xlink:href="#dtpClock"/>
        </svg>
    </footer>
</div>